<div class="wrapper-form wrapper-form-1">
  <p class="form-title">Kemampuan Bicara/Berbahasa (FORM I)</p>
  <ol data-form-type="bicara">
    <li>
      <p>Mengetahui namanya sendiri</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara1" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara1" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara1" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Merespon pada "tidak" atau "stop"</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara2" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara2" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara2" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Dapat mengikuti perintah</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara3" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara3" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara3" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Dapat menggunakan 1 kata (Tidak!, makan, air, dll)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara4" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara4" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara4" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Dapat menggunakan 2 kata sekaligus bersamaan (Tidak mau!, mau makan, minta itu, dll)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara5" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara5" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara5" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Dapat menggunakan 3 kata sekaligus (Mau minum susu, dll)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara6" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara6" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara6" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Mengetahui 10 kata atau lebih</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara7" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara7" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara7" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Dapat membuat kalimat yang berisi 4 kata atau lebih</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara8" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara8" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara8" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Mampu menjelaskan apa yang dia inginkan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara9" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara9" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara9" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Mampu menanyakan pertanyaan yang bermakna</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara10" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara10" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara10" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Isi pembicaraan cenderung relevan atau bermakna</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara11" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara11" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara11" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Sering menggunakan kalimat kalimat yang berurutan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara12" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara12" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara12" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Bisa mengikuti pembicaraan dengan cukup baik</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara13" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara13" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara13" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <li>
      <p>Memiliki kemampuan bicara / berbahasa yang sesuai dengan seusianya</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" required name="bicara14" class="form-control" value="tb" required>
          Tidak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara14" class="form-control" value="ab">
          Agak benar
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="bicara14" class="form-control" value="sb">
          Sangat benar
        </label>
      </div>
    </li>
    <input class="total-form" type="hidden" name="bicaraTotal" value="">
  </ol>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <button class="jc-continue-next btn btn-primary btn-block is-form1" type="button" data-next-form="wrapper-form-2">Form selanjutnya</button>
    </div>
  </div>
</div>
