<div class="wrapper-form wrapper-form-2 d-none">
  <p class="form-title">Kemampuan Bersosialisasi (FORM II)</p>
  <ol data-form-type="sosial">
    <li>
      <p>Terlihat seperti berada dalam tempurung (anda tdk dapat menjangkaunya)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial1" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial1" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial1" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Mengabaikan orang lain</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial2" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial2" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial2" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Ketika dipanggil, hanya sedikit atau malah tidak memperhatikan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial3" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial3" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial3" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak kooperatif dan menolak</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial4" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial4" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial4" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak ada kontak mata</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial5" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial5" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial5" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Lebih suka menyendiri</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial6" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial6" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial6" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Tidak menunjukan rasa kasih sayang</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial7" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial7" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial7" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Tidak mampu menyapa orang tua</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial8" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial8" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial8" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Menghindari kontak dengan orang lain</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial9" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial9" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial9" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak mampu menirukan orang lain</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial10" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial10" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial10" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak suka dipegang atau dipeluk</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial11" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial11" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial11" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak mau berbagi atau menunjukan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial12" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial12" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial12" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak bisa melambaikan tangan (da... dah...)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial13" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial13" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial13" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Sering tidak setuju / menolak</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial14" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial14" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial14" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tantrum, marah marah</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial15" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial15" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial15" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Tidak mempunyai teman</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial16" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial16" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial16" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Jarang tersenyum</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial17" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial17" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial17" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Tidak peka terhadap perasaan orang lain </p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial18" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial18" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial18" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Acuh tak acuh ketika disukai orang lain</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial19" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial19" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial19" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <li>
      <p>Acuh tak acuh ketika ditinggal pergi oleh orang tuanya</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial20" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial20" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sosial20" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>      
    </li>
    <input class="total-form" type="hidden" name="sosialTotal" value="">
  </ol>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <button class="jc-continue-next btn btn-primary btn-block is-form2" type="button" data-next-form="wrapper-form-3">Form selanjutnya</button>
    </div>
  </div>
</div>
  