<div class="wrapper-form wrapper-form-4 d-none">
  <p class="form-title">Kesehatan umum, fisik dan perilaku (FORM IV)</p>
  <ol data-form-type="umum">
    <li>
      <p>Mengompol saat tidur</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum1" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum1" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum1" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum1" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Mengompol di celana / popok</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum2" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum2" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum2" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum2" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Buang air besar di celana / popok</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum3" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum3" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum3" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum3" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Diare</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum4" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum4" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum4" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum4" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Konstipasi / sembelit</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum5" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum5" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum5" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum5" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Gangguan tidur</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum6" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum6" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum6" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum6" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Makan terlalu banyak / terlalu sedikit</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum7" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum7" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum7" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum7" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Pilihan makanan yang diinginkan sangat terbatas</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum8" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum8" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum8" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum8" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Hiperaktif</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum9" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum9" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum9" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum9" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Letargi, lemah lesu</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum10" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum10" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum10" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum10" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Memukul atau melukai diri sendiri</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum11" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum11" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum11" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum11" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Memukul atau melukai orang lain</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum12" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum12" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum12" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum12" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Destruktif</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum13" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum13" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum13" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum13" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Sensitif terhadap suara</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum14" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum14" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum14" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum14" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Cemas / penuh ketakutan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum15" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum15" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum15" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum15" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Tidak senang / mudah rewel / menangis</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum16" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum16" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum16" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum16" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Kejang</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum17" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum17" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum17" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum17" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Bicara secara obsesif</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum18" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum18" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum18" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum18" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Kaku terhadap rutinitas</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum19" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum19" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum19" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum19" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Berteriak / menjerit-jerit</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum20" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum20" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum20" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum20" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Menuntut hal atau cara yang sama berulang-ulang</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum21" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum21" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum21" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum21" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Sering gelisah / agitasi</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum22" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum22" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum22" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum22" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Tidak peka terhadap nyeri</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum23" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum23" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum23" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum23" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Terfokus atau sulit dialihkan dari objek atau topik tertentu</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum24" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum24" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum24" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum24" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <li>
      <p>Gerakan repetitive (stimming, flapping, atau menggoyang-goyangkan bagian badan)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum25" class="form-control" value="tb" required>
          Tidak bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum25" class="form-control" value="sb">
          Sedikit bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum25" class="form-control" value="cb">
          Cukup bermasalah
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="umum25" class="form-control" value="vb">
          Sangat bermasalah
        </label>
      </div>
    </li>
    <input class="total-form" type="hidden" name="umumTotal" value="">
  </ol>
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <button id="jc-submit-allform" class="btn btn-primary btn-block" type="submit">Submit</button>
    </div>
  </div>
  
</div>
  