<div class="wrapper-form wrapper-form-3 d-none">
  <p class="form-title">Kesadaran sensorik / kognitif (FORM III)</p>
  <ol data-form-type="sensorik">
    <li>
      <p>Merespon saat dipanggil namanya</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik1" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik1" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik1" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Merespon saat dipuji</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik2" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik2" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik2" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Melihat pada orang dan binatang</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik3" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik3" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik3" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Melihat pada gambar (dan TV)</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik4" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik4" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik4" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Menggambar, mewarnai, dan melakukan kesenian</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik5" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik5" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik5" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Bermain dengan mainannya secara sesuai</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik6" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik6" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik6" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Menggunakan ekspresi wajah yang sesuai</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik7" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik7" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik7" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Memahami cerita yang ditayangkan di TV</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik8" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik8" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik8" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Memahami penjelasan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik9" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik9" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik9" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Sadar akan lingkungannya</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik10" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik10" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik10" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Sadar akan bahaya</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik11" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik11" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik11" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Mampu berimajinasi</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik12" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik12" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik12" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Memulai aktivitas</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik13" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik13" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik13" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Mampu berpakaian sendiri</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik14" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik14" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik14" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Memiliki rasa penasaran dan ketertarikan</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik15" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik15" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik15" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Suka tantangan, senang mengeksplorasi</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik16" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik16" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik16" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Tampak selaras, tidak tampak kosong</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik17" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik17" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik17" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <li>
      <p>Mampu mengikuti pandangan ke arah semua orang memandang</p>
      <div class="row">
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik18" class="form-control" value="tc" required>
          Tidak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik18" class="form-control" value="ac">
          Agak cocok
        </label>
        <label class="col-sm-12 col-md-2">
          <input type="radio" name="sensorik18" class="form-control" value="sc">
          Sangat cocok
        </label>
      </div>
    </li>
    <input class="total-form" type="hidden" name="sensorikTotal" value="">
  </ol>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <button class="jc-continue-next btn btn-primary btn-block is-form3" type="button" data-next-form="wrapper-form-4">Form selanjutnya</button>
    </div>
  </div>
  
</div>
  