<%- include("../partials/header.ejs") -%>
</head>
<body>
	<%- include('../partials/navigation.ejs') %>
	<main>
		<div class="container-fluid mt-100">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Nama dokter</h5>
							<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque impedit similique modi officia assumenda eum id at quam pariatur debitis.</p>
						</div>
					</div>
				</div>
			</div>
		</div>    

	</main>
	<%- include("../partials/footer") -%>
	<%- include("../partials/end") -%>
