<%- include("../partials/header.ejs") -%>
</head>
<body>
	<%- include('../partials/navigation.ejs') %>
	<main>
		<div class="container-fluid mt-100">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
					<div class="card">
						<div class="card-body text-center">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxrJn9kkP8eGclXdd6aSSbSZDWVmoeuEW3XTtWm71tRS1T5imH&s" alt="placeholder drug and medicine">
							<h5 class="card-title mt-3">Nama obat</h5>
							<ul class="text-left">
								<li>
									<p class="font-weight-bold mb-0">Indikasi / Kegunaan</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
								</li>
								<li>
									<p class="font-weight-bold mb-0">Dosis / aturan pakai</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
								</li>
								<li>
									<p class="font-weight-bold mb-0">Review / ulasan</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis?.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%- include("../partials/footer") -%>
	<%- include("../partials/end") -%>
